body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow: hidden;
    background-color: #f0f0f0; /* fallback color */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#background {
    position: absolute;
    width: 80vh;
    height: 80vh; /* occupy 75% of the viewport height */
    background: url('banner.jpg') no-repeat center center;
    background-size: cover;
    z-index: 1; /* place it behind the content */
     display: none;
}

#content {
    position: relative;
    z-index: 2; /* place it above the background */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Align items at the start */
    height: 25vh; /* Take the remaining 25% of the viewport height */
    width: 100%;
}

#randomButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
}

#displayText {
    font-size: 3vw;
    color: green;
    margin-top: 2vh; /* Adjust spacing as needed */
    text-align: center;
    display: none;
}
